main {
    margin: auto;
    width: 1000px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 48px;
    width: 800px;

    /*display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;*/
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 250;
    font-size: 18px;
    font-style: italic;
    width: 700px;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.receipt-header {
    border-bottom: solid;
    border-color: black;
    padding-bottom: 5px;
}

.receipt-views{
    /*margin-left: 100px;*/
    font-family: 'Rubik', sans-serif;
    font-weight: 50;
    font-size: 17px ;
    font-style: italic;
    width: 130px;
    text-align: right;

    /*text-shadow: 1px 1px 3px #00000059;*/
    /*color: rgb(0, 0, 0);*/
}

.receipt-likes{
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    height: 100px; 

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.receipt-likes-count{

}

.receipt-dislikes-count{

}

.smile{

}
.not_smile{
    
}

.receipt-favorites-container{

}

#receipt-favorites-button{
    width: 42px;
    height: 42px;

    color: yellow;
}

#receipt-like-button{
    width: 42px;
    height: 42px;

    color: rgb(47, 151, 34);
}

#receipt-dislike-button{
    width: 42px;
    height: 42px;

    color: rgb(196, 31, 31);
}

.receipt-description {
    padding-top: 15px;
    padding-bottom: 15px;
    
    border-bottom: solid;
    border-color: black;

    height: 265px;

    display: flex;

    flex-direction: row;
    justify-content: space-between;
}

.receipt-parameters {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.receipt-img {
    width: 300px;
    height: 250px;
    border-radius: 15px;

    object-fit: cover;
    object-position: center center;

    align-self: center;

    /* background-color: #ffffff; */
    /* background-image: url("../img/receipt-pic.png"); */

    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center center; */

    box-shadow: 0 4px 10px 5px #00000010;
}

.receipt-ingridients {
    width: 300px;
    /* height: 100%; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.receipt-ingridient {
    height: 25px;

    background-color: #e2e2e2;
    border-radius: 15px;
    box-shadow: 0 4px 10px 5px #00000010;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 6px;
    margin: 4px 6px;

    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    font-size: 16px;
    font-style: italic;
}

.receipt-portions {
    width: 250px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    font-style: italic;

    box-shadow: 0 4px 10px 5px #00000010;
}

.receipt-duration {
    width: 250px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    font-style: italic;

    box-shadow: 0 4px 10px 5px #00000010;
}

.receipt-steps {
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.receipt-step {
    width: 900px;

    /* height: 200px; */
    padding: 50px 0;

    margin-top: 20px;
    margin-bottom: 20px;

    border-radius: 20px;
    box-shadow: 0 6px 20px 5px #00000010;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.receipt-step > h3 {
    display: inline-block;

    width: 50px;
    font-size: 48px;
    font-weight: 400;
}

.receipt-step > img {
    width: 300px;
    /* height: 300px; */
    border-radius: 15px;

    object-fit: cover;
    object-position: center center;

    align-self: center;
}

.receipt-step > p {
    display: inline-block;

    width: 400px;
}

.fast {
    background-color: #CFFFA9;
}

.medium {
    background-color: #FFFCAA;
}

.long {
    background-color: #FFB1B1;
}

.remove-receipt {
    font-family: 'Rubik', sans-serif;
    font-weight: 350;

    color: black;
    font-size: 16px;
    /*margin-right: 700px;*/
    margin-top: 20px;
}

.remove-receipt:visited {
    color: black;
    font-size: 16px;
}

.receipt-header-top {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;
}

.receipt-header-bottom {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    vertical-align: bottom;
}

.receipt-header-bottom > p{
    font-weight: 250;
    font-family: 'Rubik', sans-serif;
    font-size: 18px ;
    font-style: italic;
    text-align: right;
}